/target/
/dist/
/rust_out
**/*.rs.bk
.DS_Store
mods/**/*.wasm

# Local data (worlds, configs, resource packs, etc.)
/data/
!/data/resourcepacks/.gitkeep
!/data/resourcepacks/resourcepacks.toml.example
